@page
@model Used_Books.Pages.MyBooks.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Editore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Editore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Corso_studio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Corso_studio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Classe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Classe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Materia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Materia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Studente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Studente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Prezzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Prezzo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
